.BuildControls {
    text-align: center;
    width: 80%;
    background-color: #5CC4C0;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 5px 5px gainsboro;
    padding: 10px 0;
    margin: auto;
    border-radius: 30px;
}

.OrderButton {
    border: none;
    border-radius: 5px;
    background-color: limegreen;
    opacity: 0.8;
    outline: none;
    cursor: pointer;
    color: snow;
    font-family: inherit;
    font-size: 1.2em;
    padding: 15px 30px;
    box-shadow: 2px 2px 2px grey;
    margin: 10px;
}

.OrderButton:hover, .OrderButton:active {
    opacity: 1;
}

.OrderButton:disabled {
    background-color: #5CC4C0;
    cursor: not-allowed;
    border: 1px solid #ccc;
    color: #888888;
}

.OrderButton:not(:disabled) {
    animation: enable 0.3s linear;
}

.font {
    color: white;
}


@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}