.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    text-align: center;
}

.BuildControl button {
    border: none;
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    cursor: pointer;
    outline: none;
}

.BuildControl button:disabled {
    background-color: #AC9980;
    color: #ccc;
    cursor: default;
}

.BuildControl button:hover:disabled {
    background-color: #AC9980;
    color: #ccc;
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 100px;
    color: white;
}

.BuildControl .Less {
    border-radius: 5px;
    opacity: 0.8;
    background-color: darkred;
    color: white;
}

.BuildControl .More {
    border-radius: 5px;
    opacity: 0.8;
    background-color: yellow;
    color: darkgrey;
}

.BuildControl .Less:hover, .BuildControl .Less:active {
    opacity: 1;
}

.BuildControl .More:hover,.BuildControl .More:active {
  opacity: 1;
}